<div class="d-flex flex-row justify-content-between p-3">
  <div>
    <h1><%= @restaurant.name %></h1>
    <p><i class="fa-solid fa-location-pin fa-2xs"></i> <%= @restaurant.address %></p>
    <p><i class="fa-solid fa-phone fa-2xs"></i> <%= @restaurant.phone_number %></p>
    <p><%= @restaurant.category %></p>
  </div>
  <div>
    <%= link_to "back to the list", restaurants_path %>
    <%= link_to "add a review",  new_restaurant_review_path(@restaurant), class:'btn btn-primary' %>
  </div>
</div>

<h3>Reviews</h3>

<% @restaurant.reviews.each do |review| %>
  <div class="border m-3 p-2 rounded">
    <p><%= review.content %></p>
    <p>
    <% review.rating.times do %>
      <i class="fa-solid fa-star" style="color: #eedc39;"></i>
    <% end %>
    <% (5 - review.rating).times do %>
      <i class="fa-regular fa-star" style="color: #eedc39;"></i>
    <% end %>

    </p>
  </div>
<% end %>
